@{
    Layout = "";
}
<div class="box1">
    <form method="post" action="/Account/Login">
        <label>Email</label>
        <input type="text" id="email" name="email" /> <br />
        <input type="submit" class="button1" >
    </form>
</div>
<style>
    .box1 {
        display: block;
        padding: 10px;
        margin-top: 200px; /* SIMPLY SET THIS PROPERTY AS MUCH AS YOU WANT. This changes the space below box1 */
        text-align: justify;
        margin-left:600px;
    }
    .button1 {
        display: block;
        margin-top: 10px; /* SIMPLY SET THIS PROPERTY AS MUCH AS YOU WANT. This changes the space below box1 */
        text-align: justify;
        margin-left:100px;
    }
</style>